.wrapper{style: 'background-color: #282828;'}
  .container.bg-light
    <!-- .d-flex.flex-row.justify-content-between.align-items-center -->
    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{href: root_path}
        %img{:alt => "logo", :src => asset_path("regal_cinemas_logo.png"),  style: "max-width: 210px; max-height: 65px;"}
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarTogglerDemo01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo01", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        <!-- %a.navbar-brand{href: "#"} Menu -->
        %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          %li.nav-item.active
            %a.nav-link{href: "#"}
              Showtimes
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{href: "#"} Dashboard
    .d-flex.justify-content-center
      = image_tag(asset_path('now_showing.gif'), alt: 'Now showing sign', class: 'm-4', style: 'max-width: 410px; max-height: 70px;')
    <!-- .card-deck -->
    .card-columns
      - @movies.each do |movie|
        .card
          = image_tag("http://image.tmdb.org/t/p/w342/#{movie.backdrop_path}", :alt => "Image for #{movie.name}", class: 'img-fluid')
          <!-- TODO: use media queries to change the pic size when on tablet: breakpoint lg:992 -->
          .card-body.p-3
            %h5.card-title.text-center
              = movie.name
            %p.card-text
              = movie.overview.truncate(200)
              <!-- TODO: add collapse to expand to see all  OR redirect to movie page OR popup modal with all details  -->
            .showing-times
              %button.btn.btn-secondary{:type => "button"} 11:00 AM
    .d-flex.flex-row.justify-content-center
      %a.rounded.p-3{href: "http://twitter.com/myname", :target => "_blank"}
        = image_tag(asset_path('social_twitter.png'))
      %a.rounded.p-3{href: "http://facebook.com/myname", :target => "_blank"}
        = image_tag(asset_path('social_facebook.png'))
:css
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  @media (min-width: 992px) {
    .card-columns {
      column-count: 3;
    }
  }
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 4;
    }
  }
